.section {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
}
.leftside {
    order: -1;
    background-position: right center;
}
.rightside {
    order: 2;
    background-position: left center;
}
.sidebanner {
    flex: 0 0 50%;
    background: #bfbfbf;
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
.sidecontent {
    flex: 0 0 CALC(50% - 10PX);
    MARGIN-LEFT: 10PX;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.sidecontent h2, .sidecontent h3, .sidecontent h4 {
    margin: 0 !important;
    background: none !important;
    max-width: 100%;
    padding: 25px !important;
}
.sidecontent p {
    padding: 0 25px 10px;
}

@media(max-width:727px) {
    .sidebanner {
        flex: 0 0 100%;
        background-position: center center;
    }
    .sidecontent {
        flex: 0 0 100%;
        MARGIN-LEFT: 0;
    }
}