.splide__arrows {
    position: absolute;
    top: calc(50% - 40px);
    width: 100%;
    z-index: 99;
}
.splide__arrow {
    background: #fff;
    border: none;
    padding: 0 10px;
    height: 80px;
    border-radius: 5px;
    color: #d03232;
    font-size: 22px;
}
.splide__pagination {
    position: absolute;
    bottom: 40px;
    width: 100%;
    padding: 0;
}
.splide__pagination__page {
    background: rgb(255 255 255 / 50%);
    border: none;
    margin: 5px;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
@media(max-width:767px) {
    .splide__pagination__page {
    display: none;
    }
}
.splide__pagination__page:hover {
    background: #f4cccc;
}
.splide__arrow--prev {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.splide__arrow--next {
    position: absolute;
    right: 0;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}