.splide__slide {
    margin: 0 7px !important;
}
.splide__arrows {
    position: absolute;
    top: calc(50% - 20px);
    width: 100%;
    z-index: 99;
}
.splide__arrow {
    height: 40px;
    background: #fff;
    border: none;
    padding: 0 10px;
    height: 40px;
    border-radius: 5px;
}
.splide__pagination {
    position: absolute;
    bottom: 40px;
}
.splide__pagination__page {
    background: rgb(255 255 255 / 50%);
    border: none;
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}
.splide__pagination__page:hover {
    background: #f4cccc;
}
.splide__arrow--next {
    position: absolute;
    right: 0;
}