
# BEGIN WebP Express
# The directives (lines) between `BEGIN WebP Express` and `END WebP Express` are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
# The rules have left the building
# END WebP Express