.adminmenu {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #f2f2f2;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 50px 0 0;
    h2 {
        flex: 0 0 100%;
        text-align: center;
    }
}