.author_page {
	display: flex;
	flex-wrap: wrap;
	margin-top: 150px;

  @media(max-width:800px) {
    overflow: hidden;
    margin-top: 80px;
  }
  .emailvalidation-form {
	max-width: 600px;
    width: calc(100% - 40px);
    padding: 20px;
    padding-top: 60px;
    text-align: center;
    margin: 0 auto;
  }
	.author_shape {
		background-image: url(../images/shape_logo.svg);
		width: 440px;
		height: 440px;
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
		top: -40px;
		z-index: -1;
		left: -8px;
		pointer-events: none;
		transform: rotate(45deg);
	}

	#logout {
		margin-right: 0;
	}
	.user_thumb {
		margin: 20px 0;
		label {
			background-size: cover;
			position: relative;
			width: 150px;
			height: 150px;
			display: block;
			border-radius: 10px;
			margin: 0 auto;
			color: transparent;
			cursor: pointer;
			border: 2px solid #f06a42;
			transition: all 0.4s ease;
			&:hover {
				border: 2px solid #f2f2f2;
			}
		}
		#userthumb {
			display: none;
		}
	}
	.editauthor {
		display: flex;
		flex-wrap: wrap;
		padding: 20px 0;
		h4 {
			display: block;
			text-align: center;
			margin-top: 0;
			flex: 0 0 100%;
		}
	}
}

.usermenu {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 600px;
	max-width: 100%;
	@media (max-width: 800px) {
		width: 100%;
    margin-top: 50px;
	}
	&_tabs {
		flex: 0 0 100px;
		background: #f2f2f2;
		padding: 20px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		border-right: 4px solid #fff;

		@media (max-width: 800px) {
			flex: 0 0 calc(100% - 40px);
			display: flex;
			padding-bottom: 0;
			border-bottom: 4px solid #fff;
			border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
		}
		&_el {
			padding: 10px;
			cursor: pointer;
			&.active {
				color: #db4a61;
				font-weight: 600;
				cursor: initial;
				pointer-events: none;
				@media (max-width: 800px) {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
					background: #fff;
				}
			}
		}
	}
	&_tabscontent {
		flex: 0 0 calc(100% - 186px);
		background: #f2f2f2;
		padding: 20px;
		border-radius: 10px;
		border-top-left-radius: 0;

		@media (max-width: 800px) {
			flex: 0 0 calc(100% - 40px);
      border-top-right-radius: 0;
		}
		&_el {
			display: none;
			.author_event {
				display: block;
				padding: 20px 0;
				border-bottom: 4px solid #ffffff;
				text-decoration: none;
				color: #444;
				&_left {
					flex: 1 0 60%;
					display: flex;
					align-items: center;
					flex-wrap: wrap;
				}
				&_thumb {
					background-color: #db4a61;
					width: 80px;
					height: 80px;
					background-size: cover;
					border-radius: 5px;
					float: left;
					margin-right: 10px;  
				}
				&_tickets {
					font-size: 14px;
					margin-top: 5px;
				}
				&_title {
					flex: 0 0 100%;
				}
				&_languages {
					flex: 0 0 40%;
					display: flex;
					flex-wrap: wrap;
					a {
						transition: all 0.3s ease;
						color: #bf7d7d;
						text-decoration: none;
						flex: 0 0 100%;
						margin-bottom: 10px;
						font-size: 14px;
						
						img {
							margin-right: 10px;
							transform: scale(0.9);
							transition: all 0.3s ease;
						}
						span {
							text-align: right;
						}
						&:hover {
							color: #666;  
							img {
								transform: scale(1);
							}
						}
					}
					
				}
				&_date {
					color: #616161;
					font-weight: 600;
					font-size: 15px;
					flex: 0 0 100%;
				}
				&_right {
					display: flex;
					flex-wrap: wrap;
					min-height: 80px;
					align-items: center;
				}
				&:nth-last-child(1) {
					border-bottom: 0;
				}
				h4 {
					text-align: center;
					margin-top: 0;
				}
				.createevent {
					width: calc(80% - 20px);
					text-align: center;
					margin-left: 10%;
				}
			}
			.orders {
				padding: 20px 0;
				.order {
					h4 {
						margin-top: 0;
						text-align: center;
					}
				}
			}
			&.active {
				display: block;
			}
		}
	}
}
