.editor-frame {
	background: #f2f2f2;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: 0 auto;
	padding-bottom: 20px;
	position: fixed;
	bottom: 0;
	max-width: 100%;
	width: 992px;
	left: calc(50% - 496px);
	max-height: 60vh;
	z-index: 10;
	.button {
		font-size: 14px;
		padding: 3px 5px;
	}

	@media (max-width: 992px) {
		left: 0;
	}
	&_buttons {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@media (max-width: 992px) {
			padding-bottom: 10px;
			box-shadow: -1px 19px 20px 0px #f2f2f2;
			z-index: 60;
			position: relative;
		}
	}

	&_content {
		overflow-y: hidden;
		max-height: 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		transition: all 0.3s ease;

		&.active {
			overflow-y: scroll;
			max-height: 330px;
		}

		&_part {
			flex: 0 0 calc(33.3% - 40px);
			display: block;
			padding: 0 20px;
			min-width: 260px;
			@media (max-width: 800px) {
				flex: 0 0 calc(100% - 40px);
			}
			h4 {
				text-align: center;
			}
			&_tickets {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				&_tab {
					padding: 2px 8px;
					color: #fff;
					background: #000;
					box-shadow: 1px 1px 1px 1px #f16b41;
					cursor: pointer;
					border-radius: 5px;
					margin-right: 10px;
					margin-bottom: 10px;
					transition: all 0.3s ease;
					&.active {
						background: #797979;
						box-shadow: none;
						cursor: initial;
					}
					&:nth-last-child(1) {
						margin-right: 0;
					}
				}
			}
			&_ticket {
				display: none;
				&.active {
					display: flex;
					flex-wrap: wrap;
				}
				.ticket_delete {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
				}
			}
			.eventthumb {
				margin: 20px 0;

				label {
					background: #fff;
					background-size: cover;
					position: relative;
					width: calc(100% - 4px);
					height: 180px;
					display: flex;
					justify-content: center;
					border-radius: 10px;
					margin: 0 auto;
					color: #b30000;
					cursor: pointer;
					align-items: center;
					border: 2px solid #f06a42;
					transition: all 0.4s ease;
				}
				input {
					display: none;
				}
			}
		}
	}

	&_soldtickets {
		overflow-y: hidden;
		max-height: 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		transition: all 0.3s ease;
		&.active {
			overflow-y: scroll;
			max-height: 330px;
			padding: 30px 20px;
		}

		.single-in-list-purchase {
			flex: 0 0 100%;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 20px;
			padding-bottom: 10px;
			border-bottom: 4px solid #fff;
			justify-content: center;
			@media (max-width: 992px) {
				justify-content: flex-start;
			}
			&_id {
				padding-right: 10px;
				border-right: 4px solid #fff;
			}
			&_user {
				margin-left: 10px;
				padding-right: 10px;
				border-right: 4px solid #fff;
			}
			&_type {
				margin-left: 10px;
				padding-right: 10px;
				border-right: 4px solid #fff;
			}
			&_price {
				margin-left: 10px;
			}

			&_el {
				margin-bottom: 20px;
				@media (max-width: 992px) {
					border-right: 0;
					flex: 0 0 calc(50% - 10px);
					font-size: 12px;
					margin-left: 0;
					padding-right: 10px;
				}

				&:nth-child(3) {
					@media (max-width: 992px) {
						flex: 0 0 calc(65% - 10px);
					}
				}

				&:nth-child(4) {
					@media (max-width: 992px) {
						flex: 0 0 calc(35% - 10px);
					}
				}
			}
		}
	}
}
