.general-shapebanner {
  min-height: 500px;
  position: relative;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  @media (max-width: 992px) {
    min-height: 350px;
  }
  &_text {
    position: relative;
    padding: 20px;
    text-align: center;
    max-width: 1024px;
    margin: 70px auto;
    max-width: 550px;
    @media(max-width: 1023px) {
      margin: 0;
    }
    p {
      padding: 0;
    }
  }
  .image {
    display: block;
    position: absolute;
    max-width: 200px;
    left: 10%;
    @media(max-width:1200px) {
      left: 2%;
    }
    @media (max-width: 992px) {
      left: 40%;
      top: 50px;
    }
  }
  .image2 {
    position: absolute;
    right: 10%;
    width: 200px;
    transform: rotate(5deg);
    @media (max-width: 1023px) {
      right: 30%;
      top: 70px;
    }
  }
  .shape {
    width: 350px;
    max-width: 100%;
    position: absolute;
    right: 10%;
    bottom: -65px;
    z-index: -1;
    @media (max-width: 1023px) {
      position: relative;
      left: calc(50% - 175px);
      bottom: 0;
    }
  }
  .shape2 {
    width: 980px;
    max-width: 100%;
    position: absolute;
    left: -470px;
    bottom: -565px;
    z-index: -1;
    @media (max-width: 1023px) {
      display: none;
    }
  }
  .shape3 {
    width: 650px;
    max-width: 100%;
    position: absolute;
    top: 0;
    right: -1%;
    z-index: -1;
    max-height: 100%;
    @media (max-width: 1023px) {
      position: relative;
      top: -10%;
      width: 350px;
      left: 20%;
    }
  }
}
