.general-shapebanner {
  min-height: 500px;
  position: relative;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  @media (max-width: 992px) {
    min-height: 350px;
  }
  &_text {
    position: relative;
    top: 50px;
    padding: 20px;
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
    max-width: 550px;
    p {
      padding: 0;
    }
  }
  .image {
    display: block;
    position: absolute;
    max-width: 200px;
    left: 10%;
    @media(max-width:992px) {
      left: 40%;
    }
  }
  .shape {
    width: 350px;
    max-width: 100%;
    position: absolute;
    right: 10%;
    bottom: -65px;
    @media(max-width:992px) {
      position: relative;
      left: 20%;
    }
  }
  .shape2 {
    width: 980px;
    max-width: 100%;
    position: absolute;
    left: -470px;
    bottom: -565px;
    z-index: -1;
    @media (max-width: 1023px) {
      display: none;
    }
  }
  .shape3 {
    width: 950px;
    max-width: 100%;
    position: absolute;
    top: -100%;
    left: 9%;
    @media (max-width: 1023px) {
      top: -10%;
      width: 350px;
      left:0;
    }
  }
}
