.muzwavesevents {
  background: #d64367;
  background: linear-gradient(0deg, #d64367 43%, #f26b41 100%);
  position: relative;
  overflow: hidden;
  &_title {
    text-align: center;
  }
  &_description {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
  }
  &_flex {
    margin: 20px 20px 50px;
    .splide__list {
      display: flex;
      align-items: center;
    }
    &_el {
      flex: 0 0 250px;
      background: #fff;
      display: block;
      border-radius: 15px;
      padding: 20px;
      text-decoration: none;
      color: #2e2e2e;
      margin-right: 20px;
      margin-bottom: 15px;
      transform: rotate(1deg);
      &_icon {
        height: 100px;
        margin: -20px -20px 10px;
        border-radius: 15px 15px 0 0;
      }
      h3 {
        padding: 0;
      }
      &_place {
        margin-bottom: 5px;
      }
      &_start {
        margin-bottom: 5px;
      }
      &:nth-child(2n) {
        .muzwavesevents_flex_el_icon {
          height: 130px;
        }
      }
      &:nth-child(2n+2) {
        transform: rotate(-2deg);
      }
    }
  }
  .wavesstart {
    position: relative;
    height: 130px;
    width: 100%;
    background: #fff;
    display: block;
  }
  .wavesend {
    position: relative;
    height: 130px;
    width: 100%;
    background: #fff;
    display: block;
  }
}
